body{
    background-color: purple;
}
nav{
    font-family: 'Fira Sans' , sans-serif;
    align-items: center;
    display:flex;
    gap:20px;
}
a{
    font-weight: bolder;
    color:rgb(218, 161, 161);
    text-decoration: none;
}
a:hover {
    background: rgba(197, 71, 201, 0.75);
 }
 
nav > li{
    flex:1;
    list-style: none;
}
nav > h2{
    color:rgb(240, 240, 240)
}
.hero{
  display : flex;
  width : 100%;
  height:100%;
  align-items: stretch;
  align-content: stretch;
}
.main-panel{
  padding: 10px;
  justify-content: space-around;
  display:flex;
  flex-wrap: wrap;
  width:75%;
  height: 100vh;
  gap:30px;
  border : 3px solid gold;
  background-color: rgb(45, 66, 159);
}
.score-panel{
  display:flex;
  flex-wrap:wrap;
  width:25%;
  border: 3px solid gold;
  background-color: rgb(219, 112, 50);
}
.card-title{
  visibility: hidden;

}
.game-card:hover .card-title{
  transform: translateY(-30px);
  visibility: visible;

}
.game-card{
  font-family: 'Rasso One';
}
.game-card:hover{
  font-weight: bolder;
  scale:1.01;
}
/* .hero {
    display: flex;
    height: 100vh;
    align-items: stretch;
  }
  
  .main-panel {
    overflow-y:scroll;
    scrollbar-width: none;
    flex-basis: 75vh;
    border: 3px solid gold;
    background-color: rgb(45, 66, 159);
    display:flex;
    flex-wrap:wrap;
    height: 100vh;
    justify-content: space-evenly;
    gap:10px;
  }
  .main-panel > h1{
    display: block;
    align-items: center;
  }
  .main-panel > .games > img {
    position: relative;
    border-radius: 0%;
  }
  .score-panel {
    flex-basis: 25vh;
    min-width: 100px;
    border: 3px solid gold;
    background-color: rgb(219, 112, 50);
    align-items: flex-start;
  }
   */